
@model NoteMarketPlace.Models.User
@{
    ViewBag.Title = "Add Administrator";
    Layout = "~/Views/Shared/Admin.cshtml";
}



<!-- Add Administrator-->
<form class="user-details-form" method="post">

    <input name="UserId" value="@Model.UserId" hidden />

    <section id="personal-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Add Administrator</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- First Name -->
                                <div class="form-group">
                                    <label class="mylabel">First Name*</label>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control InputEmail1", @placeholder = "Enter your name" })
                                    @Html.ValidationMessageFor(m => m.FirstName)
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- Last Name -->
                                <div class="form-group">
                                    <label class="mylabel" for="InputEmail1">Last Name*</label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control InputEmail1", @placeholder = "Enter your last name" })
                                    @Html.ValidationMessageFor(m => m.LastName)
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- Email -->
                                <div class="form-group">
                                    <label class="mylabel" for="InputEmail1">Email*</label>
                                    @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control InputEmail1", @placeholder = "Enter your email address" })
                                    @Html.ValidationMessageFor(m => m.EmailID)
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-6">

                                <!-- Phone Number -->
                                <div class="form-group">
                                    <label class="mylabel">Phone Number</label>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5 col-sm-5 col-3 col-xl-3 col-lg-4  nopadding">
                                                <div class="marginright">
                                                    <select name="CountryCode" class="form-control inputselect">
                                                        @{
                                                            var list = ViewBag.country as IEnumerable<NoteMarketPlace.Models.Country>;
                                                            foreach (var item in list)
                                                            {
                                                                if (@Request.QueryString["CountryCode"] == item.CountryCode)
                                                                {
                                                                    <option selected value="@item.CountryCode">+@item.CountryCode</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.CountryCode">+@item.CountryCode</option>
                                                                }

                                                            }

                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-9 col-xl-9 col-lg-8 nopadding">

                                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control InputEmail1", @placeholder = "Enter your phone number" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input name="Password" value="123456" hidden />
                        <input name="Password2" value="123456" hidden />

                        <div class="row">
                            <div class="col-md-2 col-sm-6">
                                <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>submit</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</form>
<!-- Add Administrator Ends-->
