<!DOCTYPE html>
<html ln="en">
<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <!-- Title -->
    <title>@ViewBag.Title</title>

    <!-- Icon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon/favicon.ico")">

    <!-- Google Fonts -->
    <link href="@Url.Content("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap")" rel="stylesheet">

    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css/bootstrap/bootstrap.min.css")

    <!-- Font Awesome -->
    @Styles.Render("~/Content/css/font-awesome/css/font-awesome.min.css")

    <!-- Custome CSS -->
    @Styles.Render("~/Content/css/style.css")

    <!-- Responsive CSS -->
    @Styles.Render("~/Content/css/responsive.css")
</head>

<body class="fullsize">

    @RenderBody()

    <!-- JQuery -->
    @Scripts.Render("~/Content/js/jquery.js")

    <!-- Bootstrap JS -->
    @Scripts.Render("~/Content/js/bootstrap/bootstrap.min.js")

    <!-- Custom JS -->
    @Scripts.Render("~/Content/js/script.js")
</body>
</html>